<h1>Welcome to Sweater Weather</h1>
<h2>Backend API for planning roadtrips</h2>

<p>For a detailed explanation of all available endpoints and their required parameters please read the docs <%= link_to 'here', 'https://github.com/D-Lessenden/sweater_weather' %>. </p>

<h3>Current Version</h3>
<ul>
  <li>Version 1.0: /api/v1</li>
</ul>

<h3>Endpoint Summary</h3>
<ul>
  <li>GET /forecast</li>
  <li>GET /backgrounds</li>
  <li>POST /users</li>
  <li>POST /sessions</li>
  <li>POST /road_trip</li>
</ul>
